@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root { 
  --primary: #0065FC; 
  --secondary: #DEEBFF;
  --grey: #f2f2f2;            
  --deepblue: #02025c;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Raleway', sans-serif ;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#header, #main, #submain, .table{
  margin: auto 3%;
  height: auto;
  padding: 0;
  min-height: 150px;
}

/* HEADER  HEADER  HEADER  HEADER  HEADER  HEADER */

header{
  display: block;
  padding: 1.5rem 3%;
}

h1{
  font-size: 1.6rem;
  padding-top: 1.8rem;
}
#soustitre{
  padding-top: .4rem;
}


#header-top {
  display: flex;
}

.galaxy-fold{
  display: none;
}

nav{
  width: 40%;
}

.liens, .lien-mobile{
  display: flex;
}

.logo {
  width: 60%;
}

.liens{
  justify-content: flex-end;
}

.liens, a, .btn{
  text-decoration: none;
}

.hebergement {
  color:var(--primary);
  font-weight: 600;
}

.active a{
  border-top: 2px solid var(--primary);
  padding-top: 2.5rem;
}

.activite a{
  font-weight: 500;
  color:var(--deepblue);
}

.btn {
  color:var(--primary);
  font-weight: 700;
}

.liens li, .lien-mobile li{
  list-style: none;
  padding-right: 2rem;
}

.lien-mobile li{
  padding-right: 0;
}

nav, .btn{
  padding-top: 1.1rem;
}

.lien-mobile, i.fas.fa-search {
  display: none;
}

.search{
  padding: 1.5rem 0;
  padding-bottom: 2rem;
}

.search, .search input, .search label, #rechercher-texte{
  line-height: 3rem;
}

label.fas.fa-map-marker-alt{
  line-height: 2.9rem;
  padding: 0 1rem;
  padding-bottom: 2px;
  margin-right: -4px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
}

.fa-map-marker-alt{
  font-size: 1.1rem;
}

input#search::placeholder{
  font-weight: 700;
  color: var(--deepblue)  !important;
  opacity: 1;
}

input#search{
  font-size: 1rem;
  padding-left: .7rem;
  width: 280px !important;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-right: none;
  border-left: none;
}

#rechercher-texte{
  margin-left: -13px;
  padding: 1px 1rem;
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* FILTRES */

#filtres{
  display: block;
  line-height: 2rem;
}

#filtres ul{
  display: flex;
  flex-direction: row;
}

#filtres ul li{
  display: flex;
  list-style: none;
  font-size: 1.2rem;
}

#filtre-titre, #filtres ul li a{
  color: var(--deepblue);
  font-weight: 700;
  padding: 5px 15px 5px 5px;
  transition: all .3s ease-in;
}

.filtre-element a:hover{
  background-color: var(--primary);
  border: 2px solid var(--grey);
  border-radius: 25px;
}

#filtre-titre, #filtres ul li a:hover{
  color: white;
}

#filtre-titre{
  color: var(--deepblue);
}

li #filtre-titre{
  padding-left: 0;
  padding-right: 25px;
}

li.filtre-element {
  margin-right: 25px;
}

.filtre-wrapper i{
  text-align: center;
  color: var(--primary);
  /* border: 2px solid var(--grey); */
  background-color: var(--secondary);
  border-radius: 25px;
  width: 48px;
  height: 48px;
  margin-left: -3px;
}

.filtre-wrapper i.fas{
  display: flex;
  align-items: center;
  justify-content: center;
}

li.filtre-element{
  border: 2px solid var(--grey);
  border-radius: 25px;
}

#info{
  display: flex;
  padding-top: 1rem;
}

i.fas.fa-info{
  color: var(--primary);
  border: 2px solid var(--grey);
  padding: 2px 7px;
  border-radius: 25px;
}

#info-p{
  padding-left: .7rem;
  padding-top: 4px;
}

/* MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN */

#main{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 100px;
}

#gallery, aside, footer{
  background: LIGHTGRAY;
}

#gallery{
  display: flex;
  flex-flow: row wrap;
  border-radius: 20px;
  width: 60vw;
}

.gallery-title {
  flex-basis: 100%;
}

.gallery-title, #aside-title, #submain-title{
  font-size: 1.6rem;
  font-weight: 700;
  padding: 30px;
}

#plus{
  font-size: 1.4rem;
}

#submain-title{
  padding-left: 0;
}

#gallery-cards{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.gallery-card{
  width: 300px;
  height: 250px;
  text-align: center;
  /* background: salmon; */
  margin-top: 30px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 210px;
  margin: 20px;
  background: white;
  border-radius: 25px;
  text-decoration: none;
  color: var(--deepblue);
}

.card-shadow {
  color: var(--deepblue);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: transform 0.2s;
}

.card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  object-fit: cover;
  max-width: 425px;
  max-height: 120px;
  margin: 4px 8px 0 8px;
  border-radius: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  display: flex;
  justify-content: start;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
  margin-left: 20px;
}

.card p {
  display: flex;
  justify-content: start;
  margin: 0;
  margin-left: 20px;
}

.stars {
  display: flex;
  justify-content: start;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--grey);
}

.checked {
  color: var(--primary);
}

aside {
  
  padding: 0;
  height: auto;
  border-radius: 20px;
  margin-left: 50px;
  flex-grow: 1;
}

#aside-title{
  display: flex;
  justify-content: space-between;
}

#aside-title i#marker-chart-line.fas.fa-chart-line{
  margin-top: .2rem;
}

#aside-cards{
  display: flex;
  flex-flow: column wrap;
  align-items: center;  
}

.aside-card{
  width: 400px;
  height: 200px;
  /* background: plum; */
  margin-top: 30px;
}

                  /* ASIDE CARD */
                  .card-aside {
                    display: flex;
                    margin: 20px 20px;
                    background: white;
                    border-radius: 25px;
                    text-decoration: none;
                  }
                  
                  .card-aside-container{
                    display: flex;
                    margin-right: 25px;
                    height: 150px;
                    width: 360px;
                  }
                  
                  .card-aside-image {
                    max-width: 150px;
                    max-height: 150px;
                    object-fit: cover;
                    margin: 8px;
                    border-top-left-radius: 22px;
                    border-bottom-left-radius: 22px;
                  }
                  
                  img.card-aside-image--portrait {
                    width: 150px; 
                    height: 88%;
                  }
                  
                  .card-aside-body {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-around;
                    padding-left: 15px;
                    padding-top: 20px;
                  }
                  
                  .card-aside-body p {
                    margin: 0;
                    padding: 0;
                  }
                  
                  .card-aside-title {
                    font-size: 16px;
                    font-weight: 800;
                  }
                  
                  .card-aside-body--price {
                    padding-bottom: 25px;
                  }
                  
                  .stars--aside {
                    padding-top: 20px;
                    padding-bottom: 10px;
                  }
                  .checked {
                    color: var(--primary);
                  }

/* SUBMAIN   SUBMAIN   SUBMAIN   SUBMAIN   SUBMAIN  */

#submain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

#submain-title{
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
}

#box-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#box-one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 5rem;
}

#box-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  
}

.big-card{
  width: 350px;
  height: 450px;
  /* background: salmon; */
}

.small-card{
  width: 350px;
  height: 250px;
  /* background: rgb(252, 165, 156); */
}

.card-activite {
  display: flex;
  flex-flow: row wrap;
  height: 225px;
  border-radius: 25px;
  text-decoration: none;
  /* margin-bottom: 30px; */
}

.card-activite.small{
  height: 200px;
}

.card-activite img{
  width: 350px;
  height: 170px;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card-activite.small img{
  height: 120px;
}

.notredame img {
  object-fit: none;
  object-position: 50% 22%;
}

.p-activite {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 800;
}

.cardbig{
  width: 320px;
  height: 450px;
}
.cardbig img{
  width: 320px;
  height: 400px;
}

/* FOOTER   FOOTER   FOOTER   FOOTER  */

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  padding-bottom: 2rem;
}

.table-col {
  align-content: flex-start;
}

.table-header {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.table-cell {
  padding: .3rem 2rem .5rem 0;
}

/* MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES */
    
@media screen and (min-width: 1261px) {
    body{
      background-color: WHITE;     /* computer background */
    }      
  }

  @media screen and (max-width: 1000px) {
  
    ul#filtres-ul{
      display: flex;
      flex-flow: row wrap;
      /* align-items: auto; */
    }
    ul#filtres-ul li:nth-child(1){
      flex-basis: 100%;
    }
    li.filtre-element{
      margin-bottom: 1rem;
    }
  
  }

  @media screen and (min-width: 781px) and (max-width: 1371px) {
    body{
      background-color: rgb(158, 247, 188);   /* tablet background */
    }
  
    #header, #main, #submain, .table{
      margin: auto 3rem;
    }
  
    #gallery{
      width: 100vw;
      margin-top: 2rem;
    }
    #aside{
      margin-left: 0;
      order: -1;
      padding-bottom: 2rem;
    }
  
    #aside-cards{
      flex-flow: row wrap;  
      justify-content: space-around;
      
    }
  
    #box-wrapper{
      display: flex;
      flex-direction: column;
    }
    #box-one{
      width: 100vw;
      justify-content: space-evenly;
    }
    #box-two{
      width: 100vw;
      justify-content: space-evenly;
    }
    .table {
      max-width: 100%;
      justify-content: space-evenly;
    }
  } 

  @media screen and (max-width: 600px) {
    body{
      background-color: lightblue;
    }

    #header, #main, #submain, .table{
      margin: auto 2rem;
    }
  
    nav {
      border: none;
    }
    
    .liens, #rechercher-texte{
    display: none;
    }
  
    .lien-mobile{
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: space-around;
      padding-top: 1.5rem;
    }
  
    li.active{
      border-top: none;
      border-bottom: 3px solid var(--primary);
      padding-bottom: 1rem;
      padding-right: 25%;
      padding-left: 25%;
    }
    li.activite{
      border-bottom: 3px solid var(--grey);
      padding-bottom: 1rem;
      padding-right: 25%;
      padding-left: 25%;
      flex-grow: 2;
    }
    .btn{
      justify-content: flex-end;
    }
  
    li a.hebergement{
      border-top: none;
    }
  
    input#search{
      position: relative;
      width: 280px;
    }
    
    i.fas.fa-search{
      display: inline;
      color: white;
    }
  
    #rechercher{
      position: absolute;
      line-height: 2rem;
      /* margin-top: 5px; */
      margin-left: -8px;
      padding: 9px 18px;
      background-color: var(--primary);
      border: none;
      border-radius: 10px;
    }
  }
    
  @media screen and (max-width: 500px) {
    li.activite a{
     padding-right: 50%;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 780px) {
    body{
      background-color:white;   /* tablet background */
    }
    h1{
      font-size: 1.1rem;
    }

    #filtres-ul{
      flex-flow: column wrap;
      padding-top: 1.5rem;
    }
    #filtres-li{
      display: flex;
      flex-direction: row;
    }

    #filtres-ul i{
      margin-left: -10px;
    }
    
    .filtre-element{
      padding: 0 .5rem;
    }

    #info{
      margin-top: 1.5rem;
    }
    #gallery{
      width: 100vw;
      margin-top: 2rem;
    }
    #aside{
      margin-left: 0;
      order: -1;
      padding-bottom: 2rem;
    }
    #box-wrapper{
      flex-direction: column;
      width: 100vw;
    }
    #box-one{
      flex-flow: row wrap;
      width: 100vw;
    }
    #box-two{
      flex-flow: row wrap;
      width: 100vw;
    }
    .table {
      max-width: 100%;
      padding-left: 1rem;
    }
    .table-header{
      font-size: 1rem;
    }
    .table-col{
      justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
  body {
    background-color: purple;    /* phone background */
  }

  .table{
    flex-direction: column;
  }
} 

@media screen and (max-width: 382px) {
  .search{
    text-align: center;
    padding-right: 3.5rem;
  }
  i#marker.fas.fa-map-marker-alt{
    display: none;
  }
  input#search{
    border-left: 2px solid var(--grey);
    border-radius: 10px;
  }
}

@media screen and (max-width: 357px) {
  input#search{
    max-width: 240px;
  } 
 }

 @media screen and (max-width: 339px) {
  .galaxy-fold{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color:rgb(250, 70, 70);
    padding: 10px;
    border-radius: 12px;
  }
  input#search{
    max-width: 200px;
  } 
}