@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Old code */

:root { 

  --primary: #0065FC; 

  --secondary: #DEEBFF;

  --grey: #f2f2f2;            

  --deepblue: #02025c;

} 

<<<<<<< HEAD


html {

	background-color: white;

}



* {

	margin: 0;

	padding: 0;

  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;

  font-size: 16px;

  color: var(--deepblue);

  scroll-behavior: smooth;

}



.container {

  max-width: 480px;



	margin: 0 auto;



	/* border: 2px solid  var(--grey); */



	display: grid;



	grid-template-columns: repeat(4,1fr);



	grid-auto-rows: minmax(50px,auto);



	grid-template-areas: 



    "header header header header"

    

    "populaires populaires populaires populaires"

    

    "hebergements hebergements hebergements hebergements"

    

    "activites activites activites activites"

    

    "footer footer footer footer"

    ;



}



header {

  grid-area: header;



  margin: 0 20px;

  

}



#menu {

  display: grid;

  grid-template-columns: repeat(2,1fr);

  justify-content: space-between;

  grid-template-areas:

  "logo inscription"

  "navbottom navbottom"

  "h1 h1"

  ;

}



img.logo {

  padding-top: 10px;

  grid-area: logo;

}



#inscription {

  list-style: none;

}



#inscription a{

  grid-area: inscription;

  text-decoration: none;

  color: var(--primary);

  font-weight: 700;

}



ul.nav-top {

  text-align: end;

  padding-top: 25px;

}



.nav-bottom  {

  grid-area: navbottom;



  padding-top: 15px;



  display: grid;

  grid-template-columns: repeat(2, 1fr);

  

}



.nav-bottom li {

  list-style: none;

}



.nav-bottom li a {

  text-decoration: none;

}



.active {

  text-align: center;

  border-bottom: 2px solid var(--primary);

  padding-bottom: 20px;

  

}





li.active #hebergement {

  color:var(--primary);

  font-weight: 700;

}



.inactive {

  text-align: center;

  padding-bottom: 20px;

  border-bottom: 2px solid var(--grey);

  font-weight: 500;

}





#h1 {

  grid-area: h1;



  padding-top: 25px;

  padding-right: 40px;

  font-size: 28px;

}



.cite {

  padding: 10px 0;

  font-size: 20px;

}



.sr-only {

  position:absolute;

  left:-10000px;

  top:auto;

  width:1px;

  height:1px;

  overflow:hidden;

  }



form.search {

  max-width: 440px;

  padding-top: 20px;

}



.search{

  padding: 12px 0;

  display: flex;

  flex-flow: row;

  font-size: 18px;

  border: none;

  

}



#spansearch {

  max-width: 440px;

}



#marker{

padding: 18px;

background: var(--grey);

border-top-left-radius: 15px;

border-bottom-left-radius: 15px;

border-right: none;

}



#search{

padding: 18px 0;

border: none;

border-top: 1px solid var(--grey);

border-bottom: 1px solid var(--grey);

}



input:focus{

background-color: var(--secondary);

}







input#search::placeholder {

  color:  var(--deepblue) !important;

  opacity: 1;

  max-width: 200px !important;



}



input#search {

  padding-left: 15px;

  font-size: 18px;

  font-weight: 700;

}



#rechercher {

padding: 8px;

color: white;

font-size: 18px;

background: var(--primary);

margin-left: -30px;

padding: 18px;

border-radius: 15px;

border: none;

}



#rechercher i{

  color: white;

}



#rechercher-texte {

  visibility: hidden;

}



/* FILTRES FILTRES FILTRES */



#filtre-titre {

  font-size: 19px;

  font-weight: 800;

  padding-bottom: 10px;

}



.filtres ul{

  display: flex;

  flex-flow: column wrap;

  list-style-type: none;

  padding: 0;

  padding-top: 15px;

  margin: auto;

}



li.filtre-element {

  

  max-width: 240px;

  

}



.filtres li {

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  margin-top: 10px;

  padding-right: 10px;

  margin-right: 10px;

  border: 2px solid var(--grey);

  border-top-left-radius: 25px;

  border-bottom-left-radius: 25px;

  border-top-right-radius: 25px;

  border-bottom-right-radius: 25px;

}



.filtre-wrapper {

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  display: flex;

  border-radius: 50%;

  /* overflow: hidden; */

  background: var(--secondary);

  font-size: 1.2rem;

  width: 50px;

  height: 50px;

  margin-left: -2px;

  z-index: 11;

}



.filtre-wrapper i {

  

  color: var(--primary);



}



.filtres li:nth-child(1) {

  border: hidden;

}



.filtres  a{

  font-size: 18px;

  font-weight: 700;

  color: var(--deepblue);

  text-decoration: none;

  padding-top: 14px;

  padding-left: 5px;

  padding-right: 10px;

  padding-bottom: 0px;

  

}



.info {

  display: flex;

  flex-direction: row;

  padding-bottom: 40px;

}



.icon-wrapper {

  margin-top: 30px;

  border-radius: 50%;

  overflow: hidden;

  border: 1px solid var(--grey);

  font-size: 1rem;

  width: 26px;

  height: 26px;

}



.icon-wrapper i {

  padding-top: 4px;

  color: var(--primary);

}



.icon-wrapper badge {

  padding-top: 5px;

  padding-left: 10px;

  color: var(--primary);

}



i.fas.fa-info {

  padding-left: 9px;

}



.info p{

  margin-top: 30px;

  padding-left: 10px;

  font-weight: 500;

}

/* ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE  */



.aside {

  grid-area: populaires;

  

  display: flex;

  flex-direction: column;



  background: var(--grey);



  padding-top: 30px;

  padding-bottom: 30px;

  

}



.aside-title {

  display: flex;

  flex-direction: row;

  justify-content: space-between;



  padding-left: 20px;

}



h2 {

  font-size: 24px;

  font-weight: 800;

  

}



#marker-chart-line {

  padding-right: 25px;

}

 



.fa-chart-line {

  font-size: 26px;

}

                  /* ASIDE CARD */

.card-aside {

  display: flex;

  margin: 20px 20px;

  background: white;

  border-radius: 25px;

  text-decoration: none;

}



.card-aside-container{

  display: flex;

  margin-right: 25px;

=======
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

<<<<<<< HEAD
body{
  font-family: 'Raleway', sans-serif ;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
>>>>>>> master
=======
#header,
#main,
#activites,
.table {
	margin: auto 3%;
	height: auto;
	padding: 0;
	min-height: 150px;
>>>>>>> master
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


/* HEADER  HEADER  HEADER  HEADER  HEADER  HEADER */

<<<<<<< HEAD
<<<<<<< HEAD
.card-aside-image {

  max-width: 150px;

  max-height: 150px;

  object-fit: cover;

  margin: 8px;

  border-top-left-radius: 22px;

  border-bottom-left-radius: 22px;

}



img.card-aside-image--portrait {

  width: 150px; 

  height: 88%;

}



.card-aside-body {

  display: flex;

  flex-flow: column wrap;

  justify-content: space-around;

  padding-left: 15px;

  padding-top: 20px;

}



.card-aside-body p {

  margin: 0;

  padding: 0;

}



.card-aside-title {

  font-size: 16px;

  font-weight: 800;

}



.card-aside-body--price {

  padding-bottom: 25px;

}



.stars--aside {

  padding-top: 20px;

  padding-bottom: 10px;

}

.checked {

  color: var(--primary);

}



/* HEBERGEMENTS HEBERGEMENTS HEBERGEMENTS HEBERGEMENTS HEBERGEMENTS HEBERGEMENTS */



#hebergements {

  grid-area: hebergements;

    display: block;

    flex-flow: column wrap;

    background-color: #fff;

  

}



.gallery {

  padding-top: 40px;

  flex-grow: 2;

  /* text-align: center; */

  margin-right: 3%;

}



#hebergements-h2 {

  text-decoration: none;

  padding-left: 20px;

  padding-bottom: 10px;

}



#hebergements-h2 a{

  text-decoration: none;

  font-size: 24px;

  font-weight: 800;

=======
header{
  display: block;
  padding: 1.5rem 3%;
=======
header {
	display: block;
	padding: 1.5rem 3%;
>>>>>>> master
}

h1 {
	font-size: 1.6rem;
	padding-top: 1.8rem;
}

#soustitre {
	padding-top: .4rem;
}

#header-top {
	display: flex;
}

.galaxy-fold {
	display: none;
}

nav {
	width: 40%;
}

.logo {
	width: 60%;
}

.liens {
	justify-content: flex-end;
}

ul.liens {
	display: flex;
	flex-direction: row;
}

.liens,
a,
.btn-inscription {
	text-decoration: none;
}

.hebergement {
	color: var(--primary);
	font-weight: 600;
}

.active a {
	border-top: 2px solid var(--primary);
	padding-top: 2.5rem;
}

.nav-activite a {
	font-weight: 500;
	color: var(--deepblue);
}

.btn-inscription {
	color: var(--primary);
	font-weight: 700;
}

.liens li,
li {
	list-style: none;
	padding-right: 2rem;
}

nav,
.btn-inscription {
	padding-top: 1.1rem;
}

i.fas.fa-search {
	display: none;
}

.search {
	display: flex;
	padding: 1.5rem 0;
	padding-bottom: 1rem;
}

.search,
.search::before,
.search input,
#rechercher-texte {
	line-height: 3rem;
}

.search::before {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: '\f3c5';
	font-weight: 700;
	padding: 0 15px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	color: var(--deepblue);
	background-color: var(--grey);
	border: 1px solid var(--grey);
	z-index: 5;
}

input#search {
	position: relative;
	font-size: 1rem;
	padding: 0;
	padding-left: 3.1rem;
	width: 280px !important;
	border-top: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
	border-right: none;
	border-left: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px
}

input#search::placeholder {
	font-weight: 700;
	color: var(--deepblue);
	opacity: 1;
}

button#rechercher-texte {
	margin-left: -13px;
	padding: 1px 1rem;
	background-color: var(--primary);
	font-size: 1rem;
	font-weight: 700;
	color: white;
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
}


/* FILTRES */

#filtres {
	display: block;
	line-height: 2rem;
}

#filtres-ul {
	display: flex;
	flex-direction: row;
}

#filtres ul li {
	display: flex;
	list-style: none;
	font-size: 1.2rem;
}

#filtre-titre,
#filtres ul li a {
	color: var(--deepblue);
	font-weight: 700;
	padding: 5px 15px 5px 5px;
	transition: all .3s ease-in;
}

.filtre-element a:hover {
	background-color: var(--primary);
	border: 2px solid var(--grey);
	border-radius: 25px;
}

#filtres ul li a:hover {
	color: white;
}

#filtre-titre {
  padding-left: 0;
  padding-right: 0;
  margin-top: 1.1rem;
}

li.filtre-element {
	margin-top: 1rem;
}

li.filtre-element {
	margin-right: 25px;
}

span#filtre-titre{
  flex-basis: 100%;
}

.filtre-wrapper i {
	text-align: center;
	color: var(--primary);
	/* border: 2px solid var(--grey); */
	background-color: var(--secondary);
	border-radius: 25px;
	width: 48px;
	height: 48px;
	margin-left: -3px;
}

.filtre-wrapper i.fas {
	display: flex;
	align-items: center;
	justify-content: center;
}

li.filtre-element {
	border: 2px solid var(--grey);
	border-radius: 25px;
}

#info {
	display: flex;
	padding-top: 1rem;
}

i.fas.fa-info {
	color: var(--primary);
	border: 2px solid var(--grey);
	padding: 2px 7px;
	border-radius: 25px;
}

#info-p {
	padding-left: .7rem;
	padding-top: 4px;
}


/* MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN */

#main {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 2rem;
}

#gallery,
aside,
footer {
	background: LIGHTGRAY;
}

#gallery {
	display: flex;
	flex-flow: row wrap;
	border-radius: 20px;
	width: 60vw;
}

.gallery-title {
	flex-basis: 100%;
}

.gallery-title,
#aside-title {
	font-size: 1.6rem;
	font-weight: 700;
	padding: 30px;
}

#plus {
	font-size: 1.4rem;
}

#gallery-cards {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

<<<<<<< HEAD
#gallery-cards{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.gallery-card{
  width: 300px;
  height: 250px;
  text-align: center;
  /* background: salmon; */
  margin-top: 30px;
>>>>>>> master
=======
.gallery-card {
	width: 300px;
	height: 250px;
	text-align: center;
	/* background: salmon; */
	margin-top: 30px;
>>>>>>> master
}



.card {
<<<<<<< HEAD

  display: inline-flex;

  flex-direction: column;

  justify-content: space-around;

  width: 435px;

  height: 210px;

  margin: 20px;

  background: white;

  border-radius: 25px;

  text-decoration: none;

  color: var(--deepblue);

}



.card-shadow {

  color: var(--deepblue);

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  transition: transform 0.2s;

}



.card-shadow:hover {

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  transform: scale(1.05);

  cursor: pointer;

=======
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	width: 250px;
	height: 210px;
	margin: 20px;
	background: white;
	border-radius: 25px;
	text-decoration: none;
	color: var(--deepblue);
}

.card-shadow,
.activite {
	color: var(--deepblue);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: transform 0.2s;
}

.card-shadow:hover,
.activite:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transform: scale(1.05);
	cursor: pointer;
>>>>>>> master
}



.card img {
<<<<<<< HEAD
<<<<<<< HEAD

  object-fit: cover;

  max-width: 425px;

=======
  object-fit: cover;
  max-width: 425px;
>>>>>>> master
  max-height: 120px;

  margin: 4px 8px 0 8px;

  border-radius: 22px;

  border-bottom-left-radius: 0px;

  border-bottom-right-radius: 0px;

}



.card-title {

  display: flex;

  justify-content: start;

  font-size: 16px;

  font-weight: 800;

  margin: 0;

  margin-left: 20px;

}



.card p {

  display: flex;

  justify-content: start;

  margin: 0;

  margin-left: 20px;

}



.stars {

  display: flex;

  justify-content: start;

  font-size: 12px;

  margin-left: 20px;

  margin-bottom: 10px;

  color: var(--grey);

}



.checked {

  color: var(--primary);

}

<<<<<<< HEAD


.afficher {

  display: flex;

  flex-direction: column;

  text-align: left;

  justify-content: start;

  margin-left: 20px;

  font-size: 18px;

  font-weight: 800;

  color: var(--deepblue);

  text-decoration: none;

  padding-top: 10px;

}



/* ACTIVITES  ACTIVITES ACTIVITES ACTIVITES ACTIVITES ACTIVITES ACTIVITES*/



.noshow {

  display: none;

}



.s2 {

  grid-area: activites;



  display: flex;

  flex-direction: column;

  justify-content: space-between;

  margin-bottom: 40px;

=======
=======
	object-fit: cover;
	max-width: 425px;
	max-height: 120px;
	margin: 4px 8px 0 8px;
	border-radius: 22px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.card-title {
	display: flex;
	justify-content: start;
	font-size: 16px;
	font-weight: 800;
	margin: 0;
	margin-left: 20px;
}

.card p {
	display: flex;
	justify-content: start;
	margin: 0;
	margin-left: 20px;
}

.stars {
	display: flex;
	justify-content: start;
	font-size: 12px;
	margin-left: 20px;
	margin-bottom: 10px;
	color: var(--grey);
}

.checked {
	color: var(--primary);
}


>>>>>>> master
/* ASIDE  ASIDE  ASIDE  ASIDE  ASIDE  ASIDE */

aside {
	padding: 0;
	height: auto;
	border-radius: 20px;
	margin-left: 50px;
	flex-grow: 1;
}

#aside-title {
	display: flex;
	justify-content: space-between;
}

#aside-title i#marker-chart-line.fas.fa-chart-line {
	margin-top: .2rem;
}

#aside-cards {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.aside-card {
	width: 400px;
	height: 200px;
	/* background: plum; */
	margin-top: 30px;
}


/* ASIDE CARD */

.card-aside {
	display: flex;
	margin: 20px 20px;
	background: white;
	border-radius: 25px;
	text-decoration: none;
}

.card-aside-container {
	display: flex;
	margin-right: 25px;
	height: 150px;
	width: 360px;
}

<<<<<<< HEAD
.small-card{
  width: 300px;
  height: 170px;
>>>>>>> master
}



<<<<<<< HEAD
.act h2{

  

  margin-top: 40px;

  margin-bottom: 30px;

  margin-left: 20px;

}



.act a {

  text-decoration: none;

  color: var(--deepblue);

  font-size: 24px;

  font-weight: 800;

}



.card-activite {

  display: flex;

  flex-flow: row wrap;

  width: 440px;

  height: auto;

  margin: 0 20px;

  border-radius: 25px;

  text-decoration: none;

  margin-bottom: 30px;

=======
.card-activite, sc1, sc2, sc3 {
  border-radius: 25px;
  text-decoration: none;
  background: rgb(252, 165, 156);
=======
.card-aside-image {
	width: 150px;
	max-height: 150px;
	object-fit: cover;
	margin: 8px;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
}

img.card-aside-image--portrait {
	height: 88%;
	flex: 1 0 150px;
>>>>>>> master
}

.card-aside-body {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding-left: 15px;
	padding-top: 20px;
}

.card-aside-body p {
	margin: 0;
	padding: 0;
}

.card-aside-title {
	font-size: 16px;
	font-weight: 800;
}

.card-aside-body--price {
	padding-bottom: 25px;
}

<<<<<<< HEAD
.sc3{
  height: 170px;
>>>>>>> master
}



.card-activite img{
<<<<<<< HEAD

  width: 440px;

  height: 160px;

=======
  width: 300px;
  height: 120px;
>>>>>>> master
  object-fit: cover;

  border-top-right-radius: 25px;

  border-top-left-radius: 25px;

<<<<<<< HEAD
=======
.stars--aside {
	padding-top: 20px;
	padding-bottom: 10px;
}

.checked {
	color: var(--primary);
>>>>>>> master
}


/* SUBMAIN   SUBMAIN   SUBMAIN   SUBMAIN   SUBMAIN  */

<<<<<<< HEAD
.notredame img {

  object-fit: none;

  object-position: 50% 22%;

=======


.notredame img {
  object-fit: none;
  object-position: 50% 22%;
>>>>>>> master
}



.p-activite {
<<<<<<< HEAD

  margin: 0;

  margin-bottom: 25px;

  padding-left: 20px;

  padding-top: 25px;

  font-size: 16px;

  font-weight: 800;

}



/* Footer  Footer Footer Footer Footer Footer Footer Footer Footer*/

footer {

  grid-area: footer;

  background-color: var(--grey);

  padding: 30px 0;

}



.table {

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding-left: 30px;
=======
  margin-top: .9rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  font-weight: 800;
  width: auto;
  height: 50px;
=======
#activites {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;
	padding: 30px 0;
	border-radius: 8px;
	margin-bottom: 50px;
}

#activites h2 {
	width: 100%;
	margin: 15px 15px 30px 0;
>>>>>>> master
}

.activites__group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 97vw;
	height: 450px;
}

.activite {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px 10px 0 0;
	background-size: contain;
	border-radius: 15px;
}

.activite__title {
	font-size: 1rem;
	font-weight: 600;
	margin: 15px;
	max-height: 50px;
}

.activite>img {
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}

.activite1 img {
	height: 400px;
}

.activite2 img {
	height: 160px;
}

<<<<<<< HEAD
@media screen and (max-width: 600px) {
  html{
    background-color: rgb(167, 229, 250) !important;
  }

  #main, #submain, .table{
    margin: auto 2rem;
  }

  header{
    margin: auto 1rem;
  }

  nav {
    border: none;
  }
>>>>>>> master

  .activite {
    margin-right: 50px;
   }
   
  

}

.table-col {

  align-content: flex-start;
=======
.activite3 img {
	height: 100px;
}

.activite4 img {
	height: 400px;
}

.activite5 img,
.activite6 img {
	height: 135px;
}


/* FOOTER   FOOTER   FOOTER   FOOTER  */

.table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 70%;
	padding-bottom: 2rem;
}

.table-col {
	align-content: flex-start;
}
>>>>>>> master

.table-header {
	font-size: 1.2rem;
	font-weight: 700;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

<<<<<<< HEAD


.table-header {

  font-size: 18px;

  font-weight: bold;

  padding-top: 30px;

  padding-bottom: 15px;

}



.table-cell {

  padding: 5px 50px 5px 0px;

 @media screen and (max-width: 280px) {
  .galaxy-fold{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color:rgb(250, 70, 70);
    padding: 10px;
    border-radius: 12px;
  }
=======
.table-cell {
	padding: .3rem 2rem .5rem 0;
}


/* MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES */

@media screen and (min-width: 601px) and (max-width: 1480px) {
	body {
		background-color: #9ef7bc;
		/* tablet background */
	}
	header,
	#main,
	#submain,
	.table {
		margin: auto 3rem;
	}
	header {
		padding-left: 0;
		padding-right: 0;
	}
	#filtres-ul {
		flex-flow: row wrap;
	}
	#gallery {
		width: 100vw;
		margin-top: 2rem;
	}
	#aside {
		margin-left: 0;
		order: -1;
		padding-bottom: 2rem;
	}
	#aside-cards {
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.table {
		max-width: 100vw;
	}
}

@media screen and (max-width: 600px) {
	html {
		background-color: rgb(167, 229, 250) !important;
	}
	body {
		max-width: 100%;
	}
	#main,
	#submain,
	.table {
		margin: auto;
	}
	header {
		margin: auto 1rem;
	}
	nav {
		border: none;
	}
	.activite {
		margin-right: 50px;
	}
	#rechercher-texte {
		display: none;
	}
	.liens {
		justify-content: space-evenly;
		padding-right: 3.3rem;
		padding-top: 2.9rem;
		/* text-align: center; */
	}
	li.active {
		border-top: none;
		border-bottom: 3px solid var(--primary);
		padding-bottom: 1rem;
		padding-right: 25%;
		padding-left: 25%;
	}
	li.activite {
		border-bottom: 3px solid var(--grey);
		padding-bottom: 1rem;
		padding-right: 25%;
		padding-left: 25%;
		flex-grow: 2;
	}
	.btn-inscription {
		justify-content: flex-end;
	}
	li a.hebergement {
		border-top: none;
	}
	.search {
		margin-bottom: 0 !important;
	}
	i.fas.fa-search {
		display: inline;
		color: white;
	}
	#loupe::before {
		position: absolute;
		font-family: "Font Awesome 5 Free";
		content: '\f002';
		font-weight: 700;
		margin-left: -10px;
		padding: 0 16px;
		border: 0;
		border-radius: 12px;
		color: white;
		background-color: var(--primary);
	}
	button#rechercher-texte {
		visibility: hidden;
	}
	.card {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		width: 341px;
		height: 210px;
		margin: 20px;
		background: white;
		border-radius: 25px;
		text-decoration: none;
		color: var(--deepblue);
	}
	.gallery-card {
		width: 23.5rem;
	}
	#gallery {
		display: flex;
		flex-flow: column wrap;
		border-radius: 20px;
		width: 100%;
		order: 1;
	}
	aside {
		padding: 0;
		height: auto;
		border-radius: 20px;
		margin-left: 0;
		flex-grow: 1;
	}
	.table {
		flex-flow: row wrap;
		align-items: center;
		width: 100%;
	}
	div.table-col:nth-child(2) {
		flex-basis: 100%;
	}
>>>>>>> master
}